!!!

%html{:lang => 'ja'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=320', :initial_scale => "1.0"}
    %title SINATRA 
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{get_prefix}/style.css"}
  %body
    %h1="hoge = #{locals[:hoge]}"

  -# JS を書くよ
  :javascript
    document.write("<div>JS document.write</div>")
